.advantages{
    @media (max-width: 1599px) {
        padding: 130px 40px;
    }

    @media (max-width: 1199px) {
        padding: 40px 20px;
    }
}

.advantages-wrapper{
    position: relative;
    overflow: hidden;
    @media (max-width: 1199px) {
        width: 750px;
    }

    @media (max-width: 766px) {
        width: 100%;
    }
}

.advantages-title {
    width: 710px;
    
    @media (max-width: 1199px) {
        width: 580px;
    }

    @media (max-width: 766px) {
        width: 280px;
    }
}

.advantages-content {
    overflow: hidden;
}

.swiper-slide-advantages{
    width: 420px !important;
    margin-bottom: 40px;
    
    @media (max-width: 766px) {
        width: 100% !important;
    }
}

.advantages-content-item-image{
    border-radius: 10px;
    
    @media (max-width: 766px) {
        width: 100%;
    }
}

.advantages-content-item{
    @media (max-width: 766px) {
        width: 100%;
    }
}

.advantages-content-item-info {
    margin: 40px 0;
    width: 405px;

    @media (max-width: 766px) {
        margin: 15px 0;
        width: 100%;
    }
}

.advantages-content-item-info-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 33px;
    text-transform: uppercase;
    color: #f8f9fb;

    @media (max-width: 766px) {
        margin-bottom: 15px;
        font-size: 18px;
    }
}

.advantages-content-item-info-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #f8f9fb;

    @media (max-width: 766px) {
        max-width: 240px;
        font-size: 9px;
    }
}

.swiper-scrollbar{
    display: none;
    left: 0 !important;
    height: 5px !important;
    border: 1px solid #f8f9fb;
    border-radius: 100px;

    @media (max-width: 1199px) {
        display: block;
    }
    
    @media (max-width: 766px) {
        display: none;
    }
}

.swiper-scrollbar-drag{
    width: 420px !important;
    height: 10px !important;
    top: -3px !important;
    border-radius: 100px;
    background: #f8f9fb;
}


.swiper-pagination.swiper-advantages-pagination{
    bottom: 0;
    display: none;
    width: 145px;
    span{
        border-radius: 100px;
        width: 40px;
        height: 3px;
        background: #f8f9fb;
    }

    @media (max-width: 766px) {
        display: block;
    }
}