.hotel-number{
    background-image: url('/dionic/img/hotel-number/image-bg.png');
    background-size: cover;
    
    @media (max-width: 1199px) {
        padding-bottom: 0;
        background-image: none;

    }

    @media (max-width: 766px) {
        padding-top: 0;
    }
}

.hotel-number-wrapper {
    overflow: hidden;
    
    @media (max-width: 1199px) {
        width: 650px;
    }

    @media (max-width: 766px) {
        width: 100%;
    }
}

.hotel-number-title{
    text-align: center;
}

.swiper-slide-hotel-number{
    width: 650px !important;

    @media (max-width: 766px) {
        width: 100% !important;
    }
}

.hotel-number-content {
    position: relative;
    width: 650px;
    height: 420px;
    overflow: hidden; 

    @media (max-width: 766px) {
        width: 100%;
        height: auto;
    }
}

.hotel-number-content:hover .hotel-number-info-services{
    opacity: 1;
    max-height: 400px;
}

.swiper-slide-image:hover .hotel-number-info-wrapper {
    max-height: auto;
}

.swiper-slide-image {
    width: 650px;
    height: 420px;
    border-radius: 10px;

    @media (max-width: 766px) {
        width: 100% !important;
        height: auto;
    }
}

.hotel-number-info-wrapper {
    position: absolute;
    bottom: 20px;
    left: 40px;
    z-index: 10;
    transition: max-height 0.3s;
    pointer-events: none;

    @media (max-width: 766px) {
        left: 20px;
    }
}

.hotel-number-info-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 33px;
    text-transform: uppercase;
    color: #f8f9fb;
    pointer-events: none;

    @media (max-width: 766px) {
        margin-bottom: 10px;
        font-size: 18px;
    }
}

.hotel-number-info-price {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.03em;
    pointer-events: none;

    @media (max-width: 766px) {
        font-size: 16px;
    }
}

.hotel-number-info-text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.03em;
    color: #f8f9fb;
    pointer-events: none;

    @media (max-width: 766px) {
        margin-bottom: 10px;
        font-size: 14px;
    }
}

.hotel-number-info-services {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 400px;
    max-height: 0;
    transition: opacity 0.3s, max-height 0.3s;
    opacity: 0;
    pointer-events: none;

    @media (max-width: 766px) {
        gap: 10px;
        width: 100%;
        opacity: 1;
        max-height: none;
    }
}

.hotel-number-info-services-item {
    display: flex;
    align-items: center;
    gap: 10px;
    pointer-events: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #f8f9fb;
    
    @media (max-width: 766px) {
        gap: 3px;
        font-size: 14px;
    }
}

.hotel-number-info-services-item-image{
    @media (max-width: 766px) {
        width: 13px;
        height: 13px;
    }
}

.swiper-pagination.swiper-image-pagination {
    left: 20px;
    width: 560px;

    @media (max-width: 766px) {
        left: 10px;
        width: 250px;
    }

    span{
        border-radius: 100px;
        width: 100px;
        height: 3px;
        background: #f8f9fb;

        @media (max-width: 766px) {
            width: 40px;
        }
    }

}

.hotel-number-button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 400px;

    @media (max-width: 1199px) {
        margin-top: 55px;
    }

    @media (max-width: 766px) {
        margin-top: 5px;
    }
}


.hotel-number-info-wrapper {
    display: none;
}

.swiper-slide-active .hotel-number-info-wrapper {
    display: block;
}

.slide-adaptiv{
    @media (max-width: 1199px) {
        display: none;
    }
}