.hotel-number{
    padding: 130px 0;
    background-image: url('/img/hotel-number/image-bg.png');
    background-size: cover;
    
    @media (max-width: 1199px) {
        padding-bottom: 0;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;        
        background-image: none;
    }

    @media (max-width: 766px) {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.hotel-number-wrapper {
    overflow: hidden;
    
    @media (max-width: 1199px) {
        width: 650px;
    }

    @media (max-width: 766px) {
        width: 100%;
    }
}

.hotel-number-title{
    text-align: center;
}

.swiper-slide-hotel-number{
    width: 650px !important;
    @media (max-width: 766px) {
        width: 100% !important;
    }
}


.hotel-number-content {
    position: relative;
    width: 650px;
    height: 420px;
    overflow: hidden; 
    @media (max-width: 766px) {
        width: 100%;
        height: auto;
    }
}

.hotel-number-content:hover .hotel-number-info-services{
    opacity: 1;
    max-height: 500px;
}

.swiper-slide-image:hover .hotel-number-info-wrapper {
    max-height: auto;
}

.swiper-slide-image {
    width: 650px;
    height: 420px;
    border-radius: 10px;
    @media (max-width: 766px) {
        width: 100% !important;
        height: auto;
    }
}


.image-overlay-container {
    position: relative;
    display: inline-block;
}

.image-overlay-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(30, 30, 30, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    
    @media (max-width: 1199px) {
        opacity: 1;
    }
}

.image-overlay-container:hover::after {
    opacity: 1;
    
}

.swiper-slide:not(.swiper-slide-active) .image-overlay-container::after {
    opacity: 1;

}

.hotel-number-info-wrapper {
    position: absolute;
    bottom: 20px;
    left: 40px;
    z-index: 5;
    transition: max-height 0.3s;
    pointer-events: none;

    @media (max-width: 766px) {
        left: 20px;
    }
}

.hotel-number-info-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 33px;
    text-transform: uppercase;
    color: #f8f9fb;
    pointer-events: none;

    @media (max-width: 766px) {
        margin-bottom: 5px;
        font-size: 18px;
    }
}

.hotel-number-info-price {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.03em;
    pointer-events: none;

    @media (max-width: 766px) {
        font-size: 13px;
    }
}

.hotel-number-info-text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.03em;
    color: #f8f9fb;
    pointer-events: none;

    @media (max-width: 766px) {
        margin-bottom: 5px;
        font-size: 9px;
    }
}

.hotel-number-info-services {
    padding-top: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 400px;
    max-height: 0;
    transition: opacity 0.3s, max-height 0.3s;
    opacity: 0;
    pointer-events: none;

    @media (max-width: 1199px) {
        max-height: none;
        opacity: 1;
    }

    @media (max-width: 766px) {
        margin-bottom: 20px;
        gap: 10px;
        width: 330px;
    }
}

.hotel-number-info-services-item {
    display: flex;
    align-items: center;
    gap: 10px;
    pointer-events: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #f8f9fb;
    
    @media (max-width: 766px) {
        gap: 3px;
        font-size: 12px;
    }
}

.hotel-number-info-services-item-image{
    @media (max-width: 766px) {
        width: 13px;
        height: 13px;
    }
}

.swiper-pagination.swiper-image-pagination {
    left: 20px;
    bottom: 20px;
    width: 560px;

    @media (max-width: 766px) {
        bottom: 8px;
        left: 10px;
        width: 250px;
    }

    span{
        border-radius: 100px;
        width: 100px;
        height: 3px;
        background: #f8f9fb;

        @media (max-width: 766px) {
            width: 40px;
        }
    }

}

.hotel-number-button{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1199px) {
        margin-top: 20px;
    }

    @media (max-width: 766px) {
        margin-top: 5px;
    }
}

.contact-read-more-button{
    background: transparent;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #f8f9fb;

	@media (max-width: 766px) {
		font-size: 9px;
    }
}

.contact-read-more-button:hover{
	font-weight: 700;
}

.hotel-number-info-wrapper {
    display: none;
}

.swiper-slide-active .hotel-number-info-wrapper {
    display: block;
}

.slide-adaptiv{
    @media (max-width: 1199px) {
        display: none;
    }
}