.photo{
    padding-top: 0;
}

.photo-wrapper{
    overflow: hidden;
    @media (max-width: 766px) {
		width: 100%;
    }
}

.photo-section-title{
    text-align: center;

    @media (max-width: 766px) {
        width: 100%;
    }  
}

.swiper-container.swiper-photo{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.swiper-slide.swiper-slide-photo{
    display: flex !important;
    justify-content: center;
    align-items: center;

    @media (max-width: 766px) {
		display: block !important;
    } 
}

.swiper-slide-photo-image{
    margin-bottom: 40px;
    border-radius: 10px;
    width: 945px;
    height: 640px;

    @media (max-width: 1199px) {
        width: 728px;
        height: 486px;
    }

    @media (max-width: 766px) {
        width: 100%;
        height: auto;
    }
}

.swiper-pagination.swiper-photo-pagination {
    span{
        border-radius: 100px;
        width: 100px;
        height: 3px;
        background: #f8f9fb;

        @media (max-width: 766px) {
            width: 40px;;
        }
    }
}

.swiper-photo-prev,
.swiper-photo-next{
    transform: translateY(-50%);
    width: 100px !important;
    height: 100px !important;
    
    @media (max-width: 1199px) {
        display: none;
    }
}

.swiper-photo-prev path,
.swiper-photo-next path { 
    stroke-width: 5px;
}

.swiper-photo-prev:hover path,
.swiper-photo-next:hover path{    
    stroke-width: 7px;
}

.swiper-photo-prev::after,
.swiper-photo-next::after {
    display: none;
}